---

# (c) Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: include default variables
  include_vars: "../vars/main.yml"

- name: include release specific variables
  include_vars: "{{ item }}"
  loop: "{{ query('first_found', _params) }}"
  vars:
    _params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - "../vars"
      skip: true

- name: include release specific tasks
  include_tasks: "{{ item }}"
  loop: "{{ query('first_found', _params) }}"
  vars:
    _params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - "."
      skip: true

- name: groupadd
  group:
    name: "{{ bitbucket_group }}"
    system: true
    state: "present"

- name: useradd
  user:
    name: "{{ bitbucket_owner }}"
    group: "{{ bitbucket_group }}"
    home: "{{ bitbucket_home }}"
    shell: "/usr/sbin/nologin"
    system: true
    create_home: false
    state: "present"

- name: prepare directories
  file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
    state: "{{ item.state | default('directory') }}"
  loop:
    - { dest: "/lib/systemd/system" }
    - { dest: "/lib/systemd/system/bitbucket.service.d" }
    - dest: "{{ bitbucket_catalina }}"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
    - dest: "{{ bitbucket_catalina }}/bin"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
    - dest: "{{ bitbucket_home }}"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
    - dest: "{{ bitbucket_home }}/shared"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"

- name: download archive
  shell: |
    set -euo pipefail
    TMP_DIR="$(mktemp -d)" \
      && cd $TMP_DIR \
      && mkdir -p ./{{ item.dest | dirname }} \
      && curl -skL -m 300 {{ item.url }} > ./{{ item.dest }} \
      && echo -n "{{ item.sha256sum }} ./{{ item.dest }}" | sha256sum -c - \
      && mkdir -p {{ item.dest | dirname }} \
      && mv ./{{ item.dest }} {{ item.dest }} \
      && rm -rf $TMP_DIR
  args:
    executable: "/bin/bash"
    creates: "{{ item.dest | dirname }}"
  loop:
    - "{{ bitbucket_download }}"
    - "{{ postgresql_jdbc_download }}"
  register: result
  until: result is succeeded

- name: unarchive package
  shell: |
    set -euo pipefail
    exec &> >(tee -a {{ bitbucket_download.dest }}.log)
    rm -rf {{ bitbucket_catalina }} \
      && mkdir -p {{ bitbucket_catalina }}
    cd {{ bitbucket_catalina }}
    TMP_DIR="$(mktemp -d)" \
      && tar -zx -C $TMP_DIR -f {{ bitbucket_download.dest }} \
      && cp -rfT $TMP_DIR/* . \
      && rm -rf $TMP_DIR
    cd {{ bitbucket_catalina }}/app/WEB-INF/lib
    rm -rf *postgresql*.jar
    cp {{ postgresql_jdbc_download.dest }} .
    chown -Rf {{ bitbucket_owner }}:{{ bitbucket_group }} {{ bitbucket_catalina }}
    chmod 0755 \
      {{ bitbucket_catalina }} \
      {{ bitbucket_catalina }}/bin
  args:
    executable: "/bin/bash"
    creates: "{{ bitbucket_download.dest }}.log"
  notify:
    - bitbucket | systemctl daemon-reload
    - bitbucket | systemctl restart bitbucket.service

- name: copy templates
  template:
    dest: "{{ item.dest }}"
    src: "{{ item.src | default('./templates' + item.dest + '.j2') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - { dest: "/lib/systemd/system/bitbucket.service" }
    - dest: "{{ bitbucket_catalina }}/bin/_start-webapp.sh"
      src: "./templates/opt/atlassian/bitbucket/bin/_start-webapp.sh.j2"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/set-bitbucket-home.sh"
      src: "./templates/opt/atlassian/bitbucket/bin/set-bitbucket-home.sh.j2"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/set-bitbucket-user.sh"
      src: "./templates/opt/atlassian/bitbucket/bin/set-bitbucket-user.sh.j2"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/set-jre-home.sh"
      src: "./templates/opt/atlassian/bitbucket/bin/set-jre-home.sh.j2"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/start-bitbucket.sh"
      src: "./templates/opt/atlassian/bitbucket/bin/start-bitbucket.sh.j2"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/stop-bitbucket.sh"
      src: "./templates/opt/atlassian/bitbucket/bin/stop-bitbucket.sh.j2"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
  notify:
    - bitbucket | systemctl daemon-reload
    - bitbucket | systemctl restart bitbucket.service

- name: prepare files
  file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
    state: "{{ item.state | default('file') }}"
  loop:
    - { dest: "/lib/systemd/system/bitbucket.service" }
    - dest: "{{ bitbucket_catalina }}/bin/_start-webapp.sh"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/set-bitbucket-home.sh"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/set-bitbucket-user.sh"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/set-jre-home.sh"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/start-bitbucket.sh"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
    - dest: "{{ bitbucket_catalina }}/bin/stop-bitbucket.sh"
      owner: "{{ bitbucket_owner }}"
      group: "{{ bitbucket_group }}"
      mode: "0755"
  notify:
    - bitbucket | systemctl daemon-reload
    - bitbucket | systemctl restart bitbucket.service

- name: patch {{ bitbucket_home }}/shared/bitbucket.properties
  ini_file:
    path: "{{ bitbucket_home }}/shared/bitbucket.properties"
    section: ""
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    owner: "{{ bitbucket_owner }}"
    group: "{{ bitbucket_group }}"
    mode: "0644"
    no_extra_spaces: true
    state: "present"
  loop:
    - { option: "server.scheme", value: "{{ bitbucket_catalina_connector_scheme }}" }
    - { option: "server.secure", value: "{{ bitbucket_catalina_connector_secure }}" }
    - { option: "server.proxy-name", value: "{{ bitbucket_catalina_connector_proxyname }}" }
    - { option: "server.proxy-port", value: "{{ bitbucket_catalina_connector_proxyport }}" }
    - { option: "server.context-path", value: "{{ bitbucket_catalina_context_path }}" }
    - { option: "server.session.timeout", value: "{{ (bitbucket_session_timeout | int) * 60 }}" }
  notify:
    - bitbucket | systemctl restart bitbucket.service

- name: flush handlers
  meta: flush_handlers

- name: systemctl start bitbucket.service
  service:
    name: "bitbucket.service"
    state: "started"
    enabled: true
  changed_when: false
  failed_when: false
