#!/bin/bash

# {{ ansible_managed }}

### BEGIN INIT INFO
# Provides:          bitbucket
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Initscript for Atlassian Bitbucket
# Description:  Automatically start Atlassian Bitbucket when the system starts up.
#               Provide commands for manually starting and stopping Bitbucket.
### END INIT INFO

BITBUCKET_OWNER=${BITBUCKET_OWNER:-daemon}
BITBUCKET_GROUP=${BITBUCKET_GROUP:-daemon}
BITBUCKET_HOME=${BITBUCKET_HOME:-/var/atlassian/application-data/bitbucket}
BITBUCKET_CATALINA=${BITBUCKET_CATALINA:-/opt/atlassian/bitbucket}
BITBUCKET_CATALINA_PID=${BITBUCKET_CATALINA}/work/catalina.pid

start() {
    echo "Starting Bitbucket: "

    if [ "x${USER}" != "x${BITBUCKET_OWNER}" ]; then
        su -l -s /bin/bash ${BITBUCKET_OWNER} -c "${BITBUCKET_CATALINA}/bin/start-bitbucket.sh $@"
    else
        ${BITBUCKET_CATALINA}/bin/start-bitbucket.sh $@
    fi

    echo "done."
}

stop() {
    echo "Shutting down Bitbucket: "

    if [ "x${USER}" != "x${BITBUCKET_OWNER}" ]; then
        su -l -s /bin/bash ${BITBUCKET_OWNER} -c "${BITBUCKET_CATALINA}/bin/stop-bitbucket.sh $@"
    else
        ${BITBUCKET_CATALINA}/bin/stop-bitbucket.sh $@
    fi

    echo "done."
}

status() {
    if [ -f ${BITBUCKET_CATALINA_PID} ]; then
        PID=$(<${BITBUCKET_CATALINA_PID})
        if $(kill -0 "${PID:-}" 2> /dev/null); then
            echo "Bitbucket is running"
            exit 0
        elif ps "${PID:-}" > /dev/null 2>&1; then
            echo "Bitbucket is running"
            exit 0
        else
            echo "Bitbucket is not running (pidfile exists)"
            exit 1
        fi
    fi

    echo "Bitbucket is not running"

    exit 3
}

case "$1" in
    start)
        shift
        start $@
        ;;
    stop)
        shift
        stop $@
        ;;
    restart)
        shift
        stop $@
        start $@
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
        ;;
esac
