# {{ ansible_managed }}

[Unit]
Description=Atlassian Bitbucket
After=syslog.target network.target

[Service]
ExecStart=/opt/atlassian/bitbucket/bin/start-bitbucket.sh
ExecStop=/opt/atlassian/bitbucket/bin/stop-bitbucket.sh
PIDFile=/var/atlassian/application-data/log/bitbucket.pid
Type=forking
User=daemon
Group=daemon
TimeoutStartSec=300
TimeoutStopSec=300
LimitNOFILE=2048
LimitNPROC=2048

[Install]
WantedBy=multi-user.target
